body {
  color: black;
  margin: auto;
  max-width: 800px;
}
.container {
  background-image: url("images/background.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 30px;
  font-family: "PT Sans", sans-serif;
  margin: 50px auto 0;
  padding: 15px 40px 0;
  position: relative;
}
.column {
  margin: 30px 0;
}
.col-6 {
  margin-top: 30px;
  position: relative;
}
input {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 15px;
  font-size: 20px;
}
button {
  background: transparent;
  border: none;
  padding: 0 auto;
}
h1 {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 35px;
  margin: 30px 0 10px;
  padding: 17px;
  text-align: center;
}
.today {
  list-style: none;
  margin: 0 auto;
  padding: 1px 0;
}
.date {
  font-size: 25px;
  line-height: 30px;
}
.city {
  font-size: 50px;
  line-height: 38px;
}
.currentTemp {
  font-size: 50px;
  line-height: 38px;
}
.active {
  color: black;
}
.active:hover {
  cursor: default;
  color: rgb(196, 82, 116);
  text-decoration: none;
}
.highLowToday {
  color: rgb(77, 77, 77);
  font-size: 30px;
  line-height: 15px;
}
.sunriseSunset {
  font-size: 25px;
  line-height: 30px;
}
.tomorrow {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 20px;
  margin: 0 2px;
  padding: 10px;
  text-align: center;
}
.col-sm {
  height: 100px;
  padding: 20px 0 20px;
}
.dateTomorrow {
  margin-top: 25px;
}
.highLowTomorrow {
  margin-top: 25px;
}
.forecast {
  margin-bottom: 15px;
}
.weekday {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 15px;
  list-style: none;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}
.iconForecast {
  max-width: 40%;
  height: auto;
}
footer {
  font-size: 12px;
  margin-right: 20px;
  text-align: right;
}
.gitHub {
  color: rgb(196, 82, 116);
}
.gitHub:hover {
  cursor: default;
  color: 152, 185, 214;
  text-decoration: none;
}
p {
  margin: 0 auto;
}
