body {
  margin: auto;
  max-width: 800px;
  max-height: 400px;
}
.container {
  background-image: url("images/background.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 30px;
  font-family: "PT Sans", sans-serif;
  margin: 50px auto 0;
  padding: 15px 40px 0;
  position: relative;
}
.col-6 {
  margin-top: 30px;
  position: relative;
}
input {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 15px;
  color: black;
  font-size: 20px;
}
button {
  background: transparent;
  border: none;
  padding: 0 auto;
}
h1 {
  margin: 0 auto;
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 17px;
  text-align: center;
}
.today {
  list-style: none;
  margin: 0 auto;
  padding: 1px 0;
}
.date {
  font-size: 25px;
  line-height: 50px;
}
.city {
  font-size: 50px;
}
.currentWeather {
  font-size: 50px;
}
.currentTemp {
  font-size: 50px;
}
.active {
  color: black;
}
.active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}
.highLowToday {
  color: rgb(77, 77, 77);
  font-size: 30px;
  line-height: 10px;
}
.sunriseSunset {
  font-size: 25px;
  line-height: 50px;
}
.tomorrow {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.col-sm {
  height: 100px;
  padding: 20px 0 20px;
}
.weekday {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 20px;
  list-style: none;
  padding: 10px;
  text-align: center;
}
.iconForecast {
  max-width: 50%;
  height: auto;
}
footer {
  color: black;
  font-size: 12px;
  margin-right: 20px;
  text-align: right;
}
p {
  margin: 0 auto;
}
